body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6f9ff;
    color: #222;
}

.soundboard {
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
.buttonList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.buttonList li{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button {
    background-color: #e6e600;
    border-radius: 12px;
    Width: 300px;
    height: 100px;
    border: none;
    font-size: 30px;
}

.buttonList li :hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.3s;
}